.rk-city-wrapper {
    position: relative;

    .rk-city-dropdown {
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        z-index: 9999;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.12);
        max-height: 240px;
        overflow: auto;
        display: none;
        padding: 4px 0;

        &.visible {
            display: block;
        }

        .rk-city-option {
            padding: 8px 12px;
            cursor: pointer;

            &:hover {
                background: #f5f5f5;
            }
        }
    }
}

.rk-message {
    display: block;

    padding: 12px 16px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.4;
    margin: 10px 0;
    border: 1px solid #b7e4c7;
    background-color: #e6f7ed;
    color: #1e7e34;

    &:empty {
        display: none;
    }

}

.rk-city-info {
    display: none !important;
}

.rk-date-wrapper {
    margin-top: 8px;
}

#billing_rk_region_field {}

#billing_rk_city_search_field {
    position: relative;

    .woocommerce-input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.rk-city-not-found {}

.rk-city-found {}




/* When no city selected - hide all payment methods */
body.rk-city-not-selected .wc_payment_methods li {}

/* When city NOT found - show only "other_payment" */
body.rk-city-not-found .wc_payment_methods li {
    display: none;
}

body.rk-city-not-found .wc_payment_methods li.payment_method_other_payment {
    display: block !important;
}

/* When city found/selected - show only "cod" */
body.rk-city-selected .wc_payment_methods li {
    display: none;
}

body.rk-city-selected .wc_payment_methods li.payment_method_cod {
    display: block !important;
}